name: Post Config Jenkins

on: 
  workflow_dispatch: 
    branches: 
      - main

env: 
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SSH_KEY_BASE64: ${{ secrets.AWS_SSH_KEY_BASE64 }}
  JENKINS_USERNAME: ${{ secrets.JENKINS_USERNAME }}
  JENKINS_PASSWORD: ${{ secrets.JENKINS_PASSWORD }}
  USER_GITHUB_USERNAME: ${{ secrets.USER_GITHUB_USERNAME }}
  USER_GITHUB_TOKEN: ${{ secrets.USER_GITHUB_TOKEN }}
  JENKINS_JOB_NAME: ${{ secrets.JENKINS_JOB_NAME }}
  JENKINS_GITHUB_REPO_URL: ${{ secrets.JENKINS_GITHUB_REPO_URL }}
  BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
  TABLE_NAME: ${{ secrets.TABLE_NAME }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_AMI: ${{ secrets.AWS_AMI }}
  AWS_ITYPE: ${{ secrets.AWS_ITYPE }}
  AWS_KEYNAME: ${{ secrets.AWS_KEYNAME }}
  AWS_SECGROUPNAME: ${{ secrets.AWS_SECGROUPNAME }}

jobs: 
  post-config-jenkins: 
    name: Post Configure Jenkins
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./Terraform/Pipeline
    steps: 
    - uses: actions/checkout@v3
      name: GitHub Checkout
    - name: Replace Backend Placeholder BUCKET_NAME
      run: python3 ../../Utilities/replacer.py backend.tf backend.tf ~bucketname~ $BUCKET_NAME
    - name: Replace Backend Placeholder TABLE_NAME
      run: python3 ../../Utilities/replacer.py backend.tf backend.tf ~tablename~ $TABLE_NAME
    - name: Replace Backend Placeholder AWS_REGION
      run: python3 ../../Utilities/replacer.py backend.tf backend.tf ~region~ $AWS_REGION
    - name: Replace Placeholder AWS_REGION
      run: python3 ../../Utilities/replacer.py terraform.tfvars terraform.tfvars ~region~ $AWS_REGION
    - name: Replace Placeholder AWS_AMI
      run: python3 ../../Utilities/replacer.py terraform.tfvars terraform.tfvars ~ami~ $AWS_AMI
    - name: Replace Placeholder AWS_ITYPE
      run: python3 ../../Utilities/replacer.py terraform.tfvars terraform.tfvars ~itype~ $AWS_ITYPE
    - name: Replace Placeholder AWS_KEYNAME
      run: python3 ../../Utilities/replacer.py terraform.tfvars terraform.tfvars ~keyname~ $AWS_KEYNAME
    - name: Replace Placeholder AWS_SECGROUPNAME
      run: python3 ../../Utilities/replacer.py terraform.tfvars terraform.tfvars ~secgroupname~ $AWS_SECGROUPNAME
    - name: Decode and Save SSH Key
      run: mkdir files && echo $AWS_SSH_KEY_BASE64 | base64 -i --decode > files/id_rsa && chmod 600 files/id_rsa
    - name: Terraform Init
      run: terraform init
    - name: Terraform Validate
      run: terraform validate
    - name: Terraform Output
      run: terraform output -raw jenkinsec2publicip > files/jenkinsip
    - name: SSH Add Credentials
      run: ssh -q -o StrictHostKeyChecking=accept-new -i files/id_rsa ubuntu@$(cat files/jenkinsip) -tt "cd RDGOAT > /dev/null 2>&1 || { mkdir RDGOAT && cd RDGOAT ; } ; echo $JENKINS_USERNAME | sudo tee JENKINS_USERNAME > /dev/null 2>&1 && echo $JENKINS_PASSWORD | sudo tee JENKINS_PASSWORD > /dev/null 2>&1 && echo $AWS_ACCESS_KEY_ID | sudo tee AWS_ACCESS_KEY_ID > /dev/null 2>&1 && echo $AWS_SECRET_ACCESS_KEY | sudo tee AWS_SECRET_ACCESS_KEY > /dev/null 2>&1 && echo $USER_GITHUB_USERNAME | sudo tee USER_GITHUB_USERNAME > /dev/null 2>&1 && echo $USER_GITHUB_TOKEN | sudo tee USER_GITHUB_TOKEN > /dev/null 2>&1 && echo $JENKINS_JOB_NAME | sudo tee JENKINS_JOB_NAME > /dev/null 2>&1 && echo $JENKINS_GITHUB_REPO_URL | sudo tee JENKINS_GITHUB_REPO_URL > /dev/null 2>&1 && echo "$AWS_SSH_KEY_BASE64" | base64 -i --decode | sudo tee JENKINS_SSH_KEY > /dev/null 2>&1"
    - name: SSH Post Configure Jenkins
      run: ssh -q -o StrictHostKeyChecking=accept-new -i files/id_rsa ubuntu@$(cat files/jenkinsip) -tt "curl -s -O https://raw.githubusercontent.com/RichardDeodutt/Deployment-5/main/Runners/runpostconfigurejenkins.sh && sudo chmod +x runpostconfigurejenkins.sh && sudo ./runpostconfigurejenkins.sh"
    - name: SSH Remove Credentials
      run: ssh -q -o StrictHostKeyChecking=accept-new -i files/id_rsa ubuntu@$(cat files/jenkinsip) -tt "cd RDGOAT > /dev/null 2>&1 || { mkdir RDGOAT && cd RDGOAT ; } ; sudo rm JENKINS_USERNAME && sudo rm JENKINS_PASSWORD && sudo rm AWS_ACCESS_KEY_ID && sudo rm AWS_SECRET_ACCESS_KEY && sudo rm USER_GITHUB_USERNAME && sudo rm USER_GITHUB_TOKEN && sudo rm JENKINS_JOB_NAME && sudo rm JENKINS_GITHUB_REPO_URL && sudo rm JENKINS_SSH_KEY"
    - name: Delete SSH Key and IPs
      if: always()
      run: rm files/id_rsa && rm files/jenkinsip
    - name: Jenkins Link
      if: always()
      run: printf "\033[0;32mJenkins Link ~>\033[0m http://$(terraform output -raw jenkinsec2publicip)/\n"
    - name: Terraform Server IP
      if: always()
      run: printf "\033[0;32mTerraform IP ~>\033[0m $(terraform output -raw terraformec2publicip)\n"
    - name: Docker Server IP
      if: always()
      run: printf "\033[0;32mDocker IP ~>\033[0m $(terraform output -raw dockerec2publicip)\n"